body{
    background-color: rgb(38, 38, 38);
}


header{
    font-size: 60px;
    color: rgb(102, 102,204);
}

.confirmacao{
    text-align: center;
    font-size: 100px;
}

h3{
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 35px;
}

.caixa{
    text-align: center;
}

input{
    font-size: 25px;
}

button{
  margin: 20px;
  font-size: 25px;
  background-color: rgb(102, 102,204);
  color: white;
}

.entrar{
    text-align: center;
}